In [1]:
import numpy as np  #load up the libraries and object defs. we need
import pandas as pd
from pandas import DataFrame, Series

# load up my visualization system, and call the object plt
import matplotlib.pyplot as plt

# tell ipython notebook to print visualizations inline
%pylab
%matplotlib inline

Using matplotlib backend: MacOSX
Populating the interactive namespace from numpy and matplotlib

For the Encyclopedia Sales dataset,

In [ ]:
df = pd.read_csv('sales.csv')
df = df.set_index('day')
df.head(10)

# Manually computing confidence intervals

We can compute exact confidence intervals using the mean and standard deviation

`ci = mean Â± (t*std)`

Where `t` depends on what confidence interval we want.

In [ ]:
t=1.96 #For 95% CIs

In [ ]:
df.mean()

In [ ]:
df.std()

In [ ]:
sqn=sqrt(len(df))

In [ ]:
cis = DataFrame({'mean':df.mean(), 'ci':t*df.std()/sqn})
cis

In [ ]:
cis.plot(kind="bar", yerr="ci")

# Let's check if our data is normally distributed

First we pivot the dataframe using the `melt` command to put all of the values into one 'Sales' column.

In [ ]:
df_pivot = pd.melt(df,value_vars=['Seller 1','Seller 2','Seller 3','Seller 4','Seller 5','Seller 6'], 
                   var_name="Sellers", value_name="Sales")
df_pivot.tail(5)

Then we can use a [Q-Q plot](https://en.wikipedia.org/wiki/Q%E2%80%93Q_plot) (a quantile-quantile plot) to see if we have a normal distribution.

To do that we plot the sales values against a randomly generated normally-distributed set of new values.

In [ ]:
# http://scientificpythonsnippets.com/index.php/distributions/6-q-q-plot-in-python-to-test-if-data-is-normally-distributed

# get all of the sales values and plot them against a normally-distributed set of quantiles
sales = df_pivot["Sales"].copy()
sales.sort_values(inplace=True)
norm=random.normal(0,2,len(sales))
norm.sort()
plt.plot(norm,sales,"o")

# add a trend line and make it pretty
z = np.polyfit(norm,sales, 1)
p = np.poly1d(z)
plt.plot(norm,p(norm),"k--", linewidth=2)
plt.title("Normal Q-Q plot", size=28)
plt.xlabel("Theoretical quantiles", size=24)
plt.ylabel("Expreimental quantiles", size=24)
plt.tick_params(labelsize=16)

For comparison, we can also plot two normally distributed sets against one another.

In [ ]:
norm2=random.normal(0,2,len(sales))
norm2.sort()
plt.plot(norm,norm2,"o")

If the data isn't normally distributed. Bootstrap CIs might be a better choice.

(A histogram could also have shown us this.)

In [ ]:
sales.hist()

This data probably has a log-normal distribution. Which we can test by taking the log.

In [ ]:
np.log(sales).hist()

...we can always reverse that by taking the exponent.

In [ ]:
np.exp(np.log(sales)).hist()

If we wanted to, we could log-transform the data, compute CIs, then convert back before plotting.
This would give more accurate confidence intervals (you can try later if you'd like).
Instead, for now, we'll compute bootstrap confidence intervals.

# Bootstrap confidence intervals in Seaborn

The [Seaborn charting package](https://seaborn.github.io) supports bootstrap confidence intervals by default on most of it's chart types. 

If you don't already have seaborn installed, open a terminal or command prompt and run:
`conda install seaborn`

In [2]:
# Import seaborn
import seaborn as sns

**Draw a bar plot to show each seller.**

Use the `ci` parameter to set the confidence interval and the `n_boot` parameter to set the number of samples.

In [ ]:
sns.set_style('whitegrid')
g = sns.barplot(x="Sellers", y="Sales", hue="Sellers", data=df_pivot,
                palette="muted", ci=95, n_boot=100)

**Try experimenting with different sized confidence intervals and different numbers of bootstrap samples.**

*How does this change the size of the confidence intervals?*
*What happens if you re-run multiple times?*

# Confidence intervals for pairwise comparisons
If we want to see if one seller reliably sells more than another seller on a daily basis, we can test that directly.

In [ ]:
df_comp = DataFrame({"Seller 6 - 3":(df['Seller 6'] - df['Seller 3']),
                     "Seller 6 - 5":(df['Seller 6'] - df['Seller 5'])})
df_comp.head(5)

In [ ]:
df_comp_pivot = pd.melt(df_comp,value_vars=['Seller 6 - 3','Seller 6 - 5'], 
                   var_name="Seller Pair", value_name="Difference in Sales")
df_comp_pivot.tail(5)

In [ ]:
sns.factorplot(y="Seller Pair", x="Difference in Sales", data=df_comp_pivot,
               join=False,ci=95, n_boot=1000)
plt.axvline(0,lw=2,color="k")

# Now...
Have a look at the `sales-full.csv` dataset.
Are there any clear differences in it?

In [3]:
df = pd.read_csv('sales-full.csv')
df

     day  Seller 1  Seller 2  Seller 3  Seller 4  Seller 5  Seller 6
0      1       320        89        21        57        57       107
1      2        74       386       181        71        29        95
2      3       340       186       151       108       342        78
3      4       322       606       257        96       167       423
4      5       146        78       269       527       321        70
5      6        24        31       152        73        14       497
6      7        42        69       178        50       435        36
7      8        76       109        58        22       211       222
8      9        99        80       430        39        95       163
9     10       915        68        19      1092       257        27
10    11       202        23        17       132       198       396
11    12        47        47        30       230       282        31
12    13        34        36       231       121       255        38
13    14        76       132        36       117       177        59
14    15        75       137        70        85       173        37
15    16        68       412       107       167        81        71
16    17       126        73        64       378       237        58
17    18        43       239        14       229        87        91
18    19       149        64       293        81       558        71
19    20        31        24        93       110       166        10
20    21        81       149       162        26       638        67
21    22       141        61       100       285       105        71
22    23       113        46        61       531       122        59
23    24       209        49       109        24       349        27
24    25        94       272       211        98       467        55
25    26       159       425        24        44        48       440
26    27       271       252        34        33       348        80
27    28        52        77       331       267       450        57
28    29        30        29        43       292        96        86
29    30       104       122       101       648       303         8
..   ...       ...       ...       ...       ...       ...       ...
270  271       133        83        16       160       237       169
271  272       479        59       790        80      2511        38
272  273        66        40        84       497       206       168
273  274        33       105        27       303        43       247
274  275        75        57       315       182       348        43
275  276       177        31        79       216       272        30
276  277       118        27       125       241       216       203
277  278       336       275        48       284       164        49
278  279        75        53        19        42       272       203
279  280        21        49        85       433        93       256
280  281       240        76       199        27        30       218
281  282        35        58        98        13       265       120
282  283       176        66       102        84       194        29
283  284       160        74       122       179       443       139
284  285       140        57       144       144        44       113
285  286       489        36        78       172        32        46
286  287        82       193        75       110        28        85
287  288        29        90        50        57       329        37
288  289       106        26        28       114       433       120
289  290        80       210        26       530        71        16
290  291       179        20        48        77       130        75
291  292       450        69        50       158        36       152
292  293        18        76        69       158       358        20
293  294        82        42        32       310        29        47
294  295       106       130        44        36       173        68
295  296       165        24       397        71       305       277
296  297        52       405       140       130       141       666
297  298       143       140       127        68       178        91
298  299       142       478        97       118        79        35
299  300        98       181        42        79        77       104

[300 rows x 7 columns]

**Question #1**
Are any of the encyclopedia sellers clearly different from the others in terms of average daily sales? Who would you give a raise?

**Question #2**
Are the weeks with the best average daily sales per seller clearly different from the weeks with the worst sales? 
*(Be sure to think about your unit of analysis.)*

In [4]:
df["Week"] = (df.day/7).apply(np.floor)
df.head(15)

    day  Seller 1  Seller 2  Seller 3  Seller 4  Seller 5  Seller 6  Week
0     1       320        89        21        57        57       107   0.0
1     2        74       386       181        71        29        95   0.0
2     3       340       186       151       108       342        78   0.0
3     4       322       606       257        96       167       423   0.0
4     5       146        78       269       527       321        70   0.0
5     6        24        31       152        73        14       497   0.0
6     7        42        69       178        50       435        36   1.0
7     8        76       109        58        22       211       222   1.0
8     9        99        80       430        39        95       163   1.0
9    10       915        68        19      1092       257        27   1.0
10   11       202        23        17       132       198       396   1.0
11   12        47        47        30       230       282        31   1.0
12   13        34        36       231       121       255        38   1.0
13   14        76       132        36       117       177        59   2.0
14   15        75       137        70        85       173        37   2.0

In [5]:
df_melted = pd.melt(df,id_vars=['Week'],value_vars=['Seller 1','Seller 2','Seller 3','Seller 4','Seller 5','Seller 6'], 
                   var_name="Seller", value_name="Sales")
df_melted.head(15)

    Week    Seller  Sales
0    0.0  Seller 1    320
1    0.0  Seller 1     74
2    0.0  Seller 1    340
3    0.0  Seller 1    322
4    0.0  Seller 1    146
5    0.0  Seller 1     24
6    1.0  Seller 1     42
7    1.0  Seller 1     76
8    1.0  Seller 1     99
9    1.0  Seller 1    915
10   1.0  Seller 1    202
11   1.0  Seller 1     47
12   1.0  Seller 1     34
13   2.0  Seller 1     76
14   2.0  Seller 1     75

In [6]:
df_melted = df_melted.groupby(["Week","Seller"],level=-1).mean()
df_melted = df_melted.reset_index()
df_melted.head(10)

   index  Week  Sales
0      0   0.0    320
1      1   0.0     74
2      2   0.0    340
3      3   0.0    322
4      4   0.0    146
5      5   0.0     24
6      6   1.0     42
7      7   1.0     76
8      8   1.0     99
9      9   1.0    915

In [ ]:
sns.set_style('whitegrid')
g = sns.barplot(x="Week", y="Sales", data=df_melted,
                palette="muted", ci=95, n_boot=100)

**Question #3** {Question of your choice.}